<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Verein</li>
    <li><%= link_to "Daten anzeigen",'#' %></li>
    <li><%= link_to "Daten ändern",edit_club_path(@club) %></li>
    <li class="nav-header">Ansprechpartner</li>
    <li><%= link_to "Alle anzeigen",'#' %></li>
    <li><%= link_to "Neu anlegen",'#' %></li>
    <li class="nav-header">Mannschaften</li>
    <li><%= link_to "Alle anzeigen",'#' %></li>
    <li><%= link_to "Neu anlegen",'#' %></li>
    <li class="nav-header">Angebote</li>
    <li><%= link_to "Alle anzeigen",'#' %></li>
    <li><%= link_to "Neu anlegen",'#' %></li>
    <li class="nav-header">Kontaktanfragen</li>
    <li><%= link_to "Eingang",'#' %></li>
    <li><%= link_to "Ausgang",'#' %></li>
  </ul>

</div>