<% provide :title, @club.name %>
<% content_for :leftside do %>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Verein</li>
        <li><%= link_to "Daten anzeigen",'#' %></li>
        <li><%= link_to "Daten ändern",'#' %></li>
        <li class="nav-header">Ansprechpartner</li>
        <li><%= link_to "Alle anzeigen",'#' %></li>
        <li><%= link_to "Neu anlegen",'#' %></li>
        <li class="nav-header">Mannschaften</li>
        <li><%= link_to "Alle anzeigen",'#' %></li>
        <li><%= link_to "Neu anlegen",'#' %></li>
        <li class="nav-header">Angebote</li>
        <li><%= link_to "Alle anzeigen",'#' %></li>
        <li><%= link_to "Neu anlegen",'#' %></li>
        <li class="nav-header">Kontaktanfragen</li>
        <li><%= link_to "Eingang",'#' %></li>
        <li><%= link_to "Ausgang",'#' %></li>
      </ul>

    </div>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Street:</b>
  <%= @club.street %>
</p>

<p>
  <b>Street no:</b>
  <%= @club.street_no %>
</p>

<p>
  <b>Zip:</b>
  <%= @club.zip %>
</p>

<p>
  <b>City:</b>
  <%= @club.city %>
</p>

<p>
  <b>Phone:</b>
  <%= @club.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @club.fax %>
</p>

<p>
  <b>Mobile:</b>
  <%= @club.mobile %>
</p>

<p>
  <b>Image path:</b>
  <%= @club.image_path %>
</p>

<p>
  <b>Email:</b>
  <%= @club.email %>
</p>

<p>
  <b>Homepage:</b>
  <%= @club.homepage %>
</p>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
