<% provide :title, @club.name %>
<%= render 'header' %>
<% content_for :leftside do %>
    <%# render 'sidenav' %>
<% end %>
<h3>Mannschaften</h3>
<%  unless @club.teams.empty? %>
    <%= render :partial => 'teams/teams' %>
<% else %>
    <div class="alert alert-info"> Du hast noch keine Mannschaften angelegt  </div>
<% end  %>

<%= link_to 'Neue Mannschaft', new_club_team_path(@club.id), class:'btn btn-mini' %>
<p></p>
<h3>Angebote</h3>
<%  unless @club.public_offers.empty? %>
    <%= render :partial => 'public_offers/offers' %>
<% else %>
    <div class="alert alert-info">Du hast noch keine Angebote erstellt</div>
<% end  %>
<p></p>
<h3>Anfragen von Spielern</h3>
<p></p>

<% @club.public_offers.each do |offer| %>
    <%= render :partial => 'player_contacts/player_contacts', :locals=>{:player_contacts => offer.player_contacts, :public_offer => offer}  unless offer.player_contacts.empty? %>
<% end %>
<p></p>
<h3>Deine Anfragen bei Spielern</h3>
<p></p>

        <%= render :partial => 'club_contacts/club_contacts', :locals=>{teams:@club.teams} %>


<p></p>



