<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @club.name %>
</p>

<p>
  <b>Street:</b>
  <%= @club.street %>
</p>

<p>
  <b>Street no:</b>
  <%= @club.street_no %>
</p>

<p>
  <b>Strinp:</b>
  <%= @club.strinp %>
</p>

<p>
  <b>Zip:</b>
  <%= @club.zip %>
</p>

<p>
  <b>City:</b>
  <%= @club.city %>
</p>

<p>
  <b>Phone:</b>
  <%= @club.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @club.fax %>
</p>

<p>
  <b>Mobile:</b>
  <%= @club.mobile %>
</p>

<p>
  <b>Image path:</b>
  <%= @club.image_path %>
</p>

<p>
  <b>Email:</b>
  <%= @club.email %>
</p>

<p>
  <b>Homepage:</b>
  <%= @club.homepage %>
</p>


<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
