<p>
  <b>Name:</b>
  <%= @player_contact.name %>
</p>

<p>
  <b>Email:</b>
  <%= @player_contact.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @player_contact.phone %>
</p>

<p>
  <b>Alter:</b>
  <%= @player_contact.age %>
</p>

<p>
  <b>Nachricht:</b>
  <%= @player_contact.message %>
</p>

<p>
  <b>Position:</b>
  <%# @player_contact.position.name %>
</p>
<p>
  <b>aktuelle Liga</b>
  <%= @player_contact.current_league.name unless @player_contact.current_league.nil? %>
</p>

<p>
  <b>Geschlecht:</b>
  <%= @player_contact.gender %>
</p>


<%# link_to 'Edit', edit_offer_player_contact_path(offer_id: @offer.id,id:@player_contact) %>
<% if current_user.has_role?(:player) %>
    <%= link_to 'Bearbeiten', edit_public_offer_player_contact_path(public_offer_id:@player_contact.public_offer.id) %> |
    <%= link_to 'Zurück', player_profile_path %>
<% else %>
    <%# link_to 'Zurück', club_path(@player_contact.offer.club) %>
<% end %>

