<table>

<%= form_for([@club, @team], :html=>{class:'form-inline'}) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@team.errors.count, "error") %> Fehler sind beim Speichern aufgetreten</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
    <td>
      <%= @club.name %><br>
      <%= @team.inspect %><br>
      <%= f.text_field :name, placeholder:'Name', class:'span2' %></td>
    <td><%= f.collection_select(:team_type_id, TeamType.all, :id, :name, {prompt:'Mannschaft auswählen'},class:'span2') %></td>
    <td><%= f.collection_select(:league_id, League.all, :id, :name, {prompt:'Liga auswählen'}, class:'span2') %></td>
    <td><%= f.submit "Absenden", class:'btn btn-mini btn-primary' %></td>

<% end %>
</tr>
</table>
