<% content_for :rightside do %>
  <div class="widget">
    <div class="widget-header">
      <i class="icon-star"></i>
          <h3>Spielertransfer24.de</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
          <%# image_tag "soccer_500.jpg", width:'450' %>
          <ul>
            <li>für Spieler</li>
            <li>für Vereine</li>
            <li>unkompliziert</li>
            <li>direkt</li>
            <li>in Deine Nähe</li>
            <li>kostenlose Basisversion</li>
          </ul>
          <%= link_to 'Registrieren', new_user_registration_path, class:'btn' %>

        </div>
      </div>
<% end %>



<div class="row">
    <div class="span4">
      <div class="widget">
        <div class="widget-header">
          <h3>für Vereine</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
          <p>Suchst Du noch Spieler für Dein perfektes Team? Stell Dein Angebot auf unseren Markplatz und finde Deinen Spieler.
            Oder wähle aus den zahlreichen Spielerprofilen auf unserem Marktplatz aus.</p>
          <p><%= link_to "Mehr &raquo;".html_safe, players_market_index_path, class:"btn" %></p>
        </div>
      </div>
      <div class="widget widget-table action-table">
        <div class="widget-header">
          <h3>Die aktuellsten Spielergesuche</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Datum</th>
              <th>Position</th>
              <th>Liga</th>
            </tr>
            </thead>
            <tbody>
            <% @top_five_player_offers.each do |offer| %>
                <tr>
                  <td><%=date_formatter(offer.created_at) %></td>
                  <td><%= offer.positions.first.position_group.name unless offer.positions.empty? %></td>
                  <td><%=offer.current_league.name unless offer.current_league.empty?%></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <%# image_tag "soccer_500.jpg", width:'450' %>

          <%# link_to 'mehr', market_index_path, class:'btn btn-primary' %>

        </div>
      </div>
    </div>
    <div class="span4">
    <div class="widget">
      <div class="widget-header">
        <h3>für Spieler</h3>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <p>Finde auf unserem Marktplatz Deinen Traumverein und nimm direkt Kontakt auf.
           Oder stelle Dein Spielerprofil online und warte auf das perfekte Angebot.<br></p>
        <p><%= link_to "Mehr &raquo;".html_safe, market_index_path, class:"btn" %> </p>
      </div>
    </div>
    <div class="widget widget-table action-table">
        <div class="widget-header">
          <h3>Die aktuellsten Vereinsangebote</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Datum</th>
              <th>Verein</th>
              <th>Liga</th>
            </tr>
            </thead>
            <tbody>
            <% @top_five_club_offers.each do |offer| %>
            <tr>
              <td><%=date_formatter(offer.created_at)  %></td>
              <td><%=offer.team.club.name unless offer.team.nil? %></td>
              <td><%=offer.team.league.name unless offer.team.league.nil?%></td>
            </tr>
            <% end %>
            </tbody>
          </table>
          <%# image_tag "soccer_500.jpg", width:'450' %>

          <%# link_to 'mehr', market_index_path, class:'btn btn-primary' %>

        </div>
      </div>
  </div>
</div>