
<div class="account-container register">

  <div class="content clearfix">
<h1>Deine Registrierung</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
        <div class="login-fields">
          <p>Melde Dich in 30 Sekunden an. Es werden keine Zahlungsinformationen benötigt</p>

          <%= f.label :initial_role,'Ich bin ein:', class:'radio'  %>

                   <%= f.radio_button :initial_role,'player' %>Spieler
                  <%= f.radio_button :initial_role,'Verein' %>Verein




          <div class="field">

          <%= f.label :email %>
          <%= f.email_field :email, placeholder:'Email' %>
        </div>
          <div class="field">
            <%= f.label :password,'Passwort' %>
            <%= f.password_field :password, placeholder:'Passwort' %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation,'Passwort bestätigen' %>
            <%= f.password_field :password_confirmation, placeholder:'Passwort bestätigen'  %>
          </div>
        </div>

        <div class="login-actions">
          <%= f.submit "Anmelden", class:'button btn btn-primary btn-large' %>

        </div>



<% end %>
    <%= render "links" %>
  </div>

</div>

