<div class="well">
  <div class="span4">
    <h4><%=offer.team.club.name  %>     </h4>
    <ul>
    <li><%=  offer.team.league.name %></li>
    <li><%=  offer.season.name %></li>
    <li><%=  offer.position.name %></li>
    </ul>
  </div>
  <div>
    <%= offer.description %>
  </div>
  <div id="btn-contact">
    <%= link_to 'Kontakt',new_public_offer_player_contact_path(public_offer_id: offer) ,class:'btn btn-primary' %>
    <%= link_to 'Details',offer ,class:'btn' %>
  </div>



</div>