<% provide :title, 'Marketplace' %>
<% content_for :rightside do %>

        <div class="widget">
          <div class="widget-header">
            <h3>Angebote einschränken</h3>
          </div>
          <div class="widget-content">
          <ul class="nav nav-list">
            <li class="nav-header">Position</li>
            <li><%= link_to "Alle", market_index_path(league_type_id:@param_league_type_ranking,
                                                                    team_type_id:@param_team_type_id) %></li>
            <% @position_groups.each do |position_group|  %>
                <li><%= link_to position_group.name, market_index_path(league_type_id:@param_league_type_ranking,
                                                                                     position_group_id:position_group.id,
                                                                                     team_type_id:@param_team_type_id) %></li>
            <% end %>
          </ul>
          <ul class="nav nav-list">
            <li class="nav-header">Liga</li>
            <li><%= link_to "Alle", market_index_path(position_group_id:@param_position_group_id,
                                                                       team_type_id:@param_team_type_id) %></li>
            <% @league_types.each do |league_type|  %>
                <li><%= link_to league_type.name, market_index_path(league_type_ranking:league_type.ranking,
                                                                                       position_group_id:@param_position_group_id,
                                                                                       team_type_id:@param_team_type_id) %></li>
            <% end %>
          </ul>
          <ul class="nav nav-list">
            <li class="nav-header">Mannschaft</li>
            <li><%= link_to "Alle", market_index_path(league_type_ranking:@param_league_type_ranking,
                                                                         position_group_id:@param_position_group_id,
            ) %></li>
            <% @team_types.each do |team_type|  %>
                <li><%= link_to team_type.name, market_index_path(league_type_ranking:@param_league_type_ranking,
                                                                                     position_group_id:@param_position_group_id,
                                                                                     team_type_id:team_type.id) %></li>

            <% end %>
          </ul>
        </div>
        </div>
<% end %>

       <div class="widget widget-table">
         <div class="widget-header">
           <h3>Vereinsangebote</h3>
         </div>
         <div class="widget-content">
               <%= render 'public_offers', offers:@public_offers %>
         </div>
       </div>




<%#  debug(request.inspect) %>