<% provide :title, 'Marketplace' %>
<% content_for :leftside do %>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Position</li>
        <li><%= link_to "Alle", market_index_path %></li>
        <li><%= link_to "Tor", market_index_path(position:'Tor') %></li>
        <li><%= link_to "Abwehr", market_index_path(position:'Abwehr') %></li>
        <li><%= link_to "Mittelfeld", market_index_path(position:'Mittelfeld') %></li>
        <li><%= link_to "Sturm", market_index_path(position:'Sturm') %></li>
      </ul>

    </div>
<% end %>
<% content_for :rightside do %>
    <div class="well">
      <h3>Was passiert auf teamfinder.de</h3>
      <ul>
        <li><%=  @offers.count %> offene Angebote</li>
        <li><%=  @offers.contact_count.count  %> Spieler suchen einen Verein</li>
      </ul>
      Be a part of it...
    </div><!--/.well -->
<% end %>
<header class="jumbotron subhead" id="overview">
  <h1>Marketplace</h1>
  <p class="lead">Finde Deinen Verein - alle Angebote aus Deiner Region</p>
<% @offers.each do |offer| %>
  <div class="well">
        <h3><%=offer.club  %>     </h3>
        <%= offer.description %>   <br>
        Position: <%=  offer.position.name %>
        <div id="btn-contact">
            <%= link_to 'Kontakt',new_offer_player_contact_path(offer_id: offer) ,class:'btn btn-primary' %>
        </div>
    </div>
<% end  %>