<%= form_for(@team_type) do |f| %>
  <% if @team_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_type.errors.count, "error") %> prohibited this team_type from being saved:</h2>

      <ul>
      <% @team_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
