<h1>Listing team_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team_types.each do |team_type| %>
  <tr>
    <td><%= team_type.name %></td>
    <td><%= link_to 'Show', team_type %></td>
    <td><%= link_to 'Edit', edit_team_type_path(team_type) %></td>
    <td><%= link_to 'Destroy', team_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team type', new_team_type_path %>
