<%= form_for(@league_type) do |f| %>
  <% if @league_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league_type.errors.count, "error") %> prohibited this league_type from being saved:</h2>

      <ul>
      <% @league_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ranking %><br />
    <%= f.number_field :ranking %>
  </div>
  <div class="field">
    <%= f.label :team_type_id %><br />
    <%= f.number_field :team_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
