<h1>Listing league_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ranking</th>
    <th>Team type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @league_types.each do |league_type| %>
  <tr>
    <td><%= league_type.name %></td>
    <td><%= league_type.ranking %></td>
    <td><%= league_type.team_type_id %></td>
    <td><%= link_to 'Show', league_type %></td>
    <td><%= link_to 'Edit', edit_league_type_path(league_type) %></td>
    <td><%= link_to 'Destroy', league_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New League type', new_league_type_path %>
