<%= form_for([@player_profile, @club_contact]) do |f| %>
  <% if @club_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club_contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @club_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="row">
        <div class="span8">
          <div class="span3">
            <div class="control-group">
              <%= f.label :team_type, "Mannschaft", class:"control-label" %>
              <div class="controls">
              <%= f.collection_select(:team_type_id,TeamType.all, :id, :name, :prompt=>'Deine Mannschaft für Anfrage auswählen' ) %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :league, "Liga", class:"control-label" %>
              <div class="controls">
              <%= f.collection_select(:league_id,League.all, :id, :name, :prompt=>'Liga Deiner Mannschaft auswählen' ) %>
              </div>
            </div>            
            <div class="control-group">
              <%= f.label :season, "Saison", class:"control-label" %>
              <div class="controls">
                <%= f.collection_select(:season_id, Season.all, :id, :name)  %>
              </div>
            </div>
            <%= f.submit 'Absenden',class:'btn btn-primary' %>
          </div>
          <div class="span3">
            <div class="control-group">
              <%= f.label :description, "Nachricht", class:"control-label" %>
              <div class="controls">
                <%= f.text_area :description, rows:8 %>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>



<% end %>
