<%= form_for([@player_profile, @club_contact]) do |f| %>
  <% if @club_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club_contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @club_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <legend>Deine Anfrage</legend>
      <div class="row-fluid">
        <div class="span12">
          <div class="span6">
            <div class="control-group">
              <%= f.label :team, "Mannschaft", class:"control-label" %>
              <div class="controls">
              <%= f.collection_select(:team_id,@club.teams, :id, :name, :prompt=>'Mannschaft für Anfrage auswählen' ) %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :season, "Saison", class:"control-label" %>
              <div class="controls">
                <%= f.collection_select(:season_id, Season.all, :id, :name)  %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :position, "Position", class:"control-label" %>
              <div class="controls">
                <%= f.grouped_collection_select :position_id, PositionGroup.all,:positions, :name, :id, :name %>
              </div>
              <div class="control-group">
                <div class="controls">
                  <%= f.submit :player_profile_id => @player_profile.id, value:"Absenden", class:"btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group">
              <%= f.label :description, "Nachricht", class:"control-label" %>
              <div class="controls">
                <%= f.text_area :description, rows:8 %>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>
<% end %>
