
<%= form_for([@team,@public_offer]) do |f| %>
  <% if @public_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row-fluid">
      <div class="span12">
      <div class="span6">
        <div class="control-group">
          <%= f.label :min_league, "Mindestliga", class:"control-label" %>
          <div class="controls">
            <%= f.collection_select :min_league_id ,League.all,:id, :name, placeholder:"Mindestliga" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :season, "Saison", class:"control-label" %>
          <div class="controls">
            <%= f.collection_select(:season_id, Season.all, :id, :name, placeholder:"Saison")  %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label:position_ids,"Gesuchte Positionen",class:'control-label' %>
          <%= hidden_field_tag "public_offer[position_ids][]", nil%>
          <%  PositionGroup.all.each do |position_group| %>
              <label><%= position_group.name %></label>
              <% position_group.positions.each do |position|  %>
                  <label class="checkbox">
                    <%= check_box_tag "public_offer[position_ids][]", position.id,
                                      @public_offer.position_ids.include?(position.id) %><%= position.name %>
                  </label>
              <% end %>
          <% end %>
        </div>
        <div class="control-group">
          <%= f.label :min_age,"Alter (von - bis)", class:"control-label" %>
          <div class="controls">
            <%= f.text_field :min_age, class:"input-small", placeholder:"von" %>
            <%= f.text_field :max_age, class:"input-small", placeholder:"bis" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :valid_from,"Gültig (von - bis)", class:"control-label" %>
          <div class="controls">
            <%= f.text_field :valid_from, class:"input-small", placeholder:"von" %>
            <%= f.text_field :valid_until, class:"input-small", placeholder:"bis" %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit(:team_id => @team.id, value:"Absenden", class:"btn btn-primary")  %>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="control-group">
          <%= f.label :description,"Nachricht", class:"control-label" %>
          <div class="controls">
            <%= f.text_area :description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>