<% if @public_offer.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h3>Fehler beim Speichern:</h3>
      <ul>
        <% @public_offer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="widget">
  <div class="widget-header">
    <h3>Dein Spielergesuch</h3>
  </div>
  <div class="widget-content">
<%= form_for([@club,@public_offer]) do |f| %>
    <div class="row">
      <div class="span8">
      <div class="span3">
        <div class="control-group">
          <%= f.label :team_type, "Mannschaft", class:"control-label" %>
          <div class="controls">
            <%= f.collection_select :team_type_id ,TeamType.all,:id, :name, placeholder:
            "Mannschaft" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :league, "aktuelle Liga", class:"control-label" %>
          <div class="controls">
            <%= f.collection_select :league_id ,League.all,:id, :name, placeholder:"aktuelle Liga" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :min_league, "Mindestliga des Spielers", class:"control-label" %>
          <div class="controls">
            <%= f.collection_select :min_league_id ,League.all,:id, :name, placeholder:"Mindestliga des Spielers" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :season, class:"control-label" %>
          <div class="controls">
            <%= f.collection_select(:season_id, Season.all, :id, :name, placeholder:"Saison")  %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :min_age,"Alter (von - bis)", class:"control-label" %>
          <div class="controls">
            <%= f.text_field :min_age, class:"input-small", placeholder:"von" %>
            <%= f.text_field :max_age, class:"input-small", placeholder:"bis" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :valid_from,"Gültig (von - bis)", class:"control-label" %>
          <div class="controls">
            <%= f.text_field :valid_from, class:"input-small", placeholder:"von" %>
            <%= f.text_field :valid_until, class:"input-small", placeholder:"bis" %>
          </div>
        </div>
          <div class="control-group">
            <%= f.label :description, "Beschreibung", class:"control-label" %>
            <div class="controls">
              <%= f.text_area :description, rows:8 %>
            </div>
          </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit(:club_id => @club.id, value:"Absenden", class:"btn btn-primary")  %>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="control-group">
          <%= f.label:position_ids,"Gesuchte Positionen",class:'control-label' %>
          <%= hidden_field_tag "public_offer[position_ids][]", nil%>
          <%  PositionGroup.all.each do |position_group| %>
              <label><%= position_group.name %></label>
              <% position_group.positions.each do |position|  %>
                  <label class="checkbox">
                    <%= check_box_tag "public_offer[position_ids][]", position.id,
                                      @public_offer.position_ids.include?(position.id) %><%= position.name %>
                  </label>
              <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>
<% end %>
      </div>
    </div>