<table class="table table-striped">
  <thead>
  <th>Mannschaft</th>
  <th>Saison</th>
  <th>Position</th>
  <th colspan="2">Gültig (von - bis)</th>
  <th></th>
  </thead>
  <tbody>
  <% @public_offers.each do |offer| %>
      <tr>
        <td><%= offer.team.name %> (<%= offer.team.league.area.league_type.team_type.name %>)</td>
        <td><%= offer.season.name %></td>
        <td><%= offer.position.name %></td>
        <td><%= offer.valid_from %></td>
        <td><%= offer.valid_until %></td>
        <td>
          <% unless offer.player_contacts.empty?  %>
              <%# link_to "Anfragen", offer_player_contacts_path(offer_id:offer), class:'btn btn-mini btn-success' %>
          <% end  %>
          <%= link_to "Bearbeiten", edit_team_public_offer_path(offer.team.id, offer), class:'btn btn-mini' %>
          <%= link_to "Löschen", team_public_offer_path(offer.team.id, offer),confirm: 'Bist Du sicher?', method: :delete, class:'btn btn-mini btn-danger' %>


        </td>
      </tr>
  <% end %>
  </tbody>
</table>