<div class="widget">
  <div class="widget-header">
    <h3>Spielergesuch von <%= @public_offer.team.club.name %>
 </h3>
  </div>
  <div class="widget-content">
<div class="row">
  <div class="span4">
    <p>
      <b>Mannschaft</b><br>
      <%= @public_offer.team.long_name %>
    </p>    

<p>
  <b>Liga der Mannschaft</b><br>
  <%= @public_offer.team.league.name %>
</p>

<p>
  <b>Mindestliga für Bewerber</b><br>
  <%= @public_offer.min_league.name unless @public_offer.min_league.nil? %>
</p>

<p>
  <b>Saison</b><br>
  <%= @public_offer.season.name %>
</p>

<p>
  <b>Alter (von - bis)</b><br>
  <%= @public_offer.min_age %> - <%= @public_offer.max_age %> Jahren

</p>



  </div>
  <div class="span3">
    <p>
      <b>Beschreibung</b>
      <%= @public_offer.description %>
    </p>
    <p>
      <b>Positionen</b><br>
      <ul>
      <% @public_offer.positions.each do |position| %>
        <li><%=position.name%></li>
      <% end %>
    </ul>
    </p>
  </div>
</div>
</div>
</div>


<%# link_to 'Edit', edit_team_public_offer_path(@public_offer.team, @public_offer) %>
<%# link_to 'Back', public_offers_path %>
