<div class="account-container">
  <div class="content clearfix">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <h1>Anmeldung</h1>
        <p>Melde Dich mit Deinem bestehenden Account an</p>
        <div class="login-fields">
            <div class="field">
                <%= f.label :email,'Email' %>
                <%= f.email_field :email, class:'login username-field', placeholder:'Email' %>
            </div>
            <div class="field">
                <%= f.label :password,'Passwort' %>
                <%= f.password_field :password,class:'login password-field',placeholder:'Passwort' %>
            </div>
        </div>
        <div class="login-actions">
            <% if devise_mapping.rememberable? -%>
                <span class="login-checkbox">
                    <div class="field">
                        <%= f.check_box :remember_me, class:'field login-checkbox' %> angemeldet bleiben
                    </div>
                </span>
            <% end -%>
            <%= f.submit "Anmelden",class:'button btn btn-warning btn-large' %>
        </div>
        <% end %>
     </div>
    </div>
<div class="login-extra">
  <%= render "links" %>
</div>