<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>First name:</b>
  <%= @player.first_name %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @player.birthdate %>
</p>

<p>
  <b>Street:</b>
  <%= @player.street %>
</p>

<p>
  <b>Zip:</b>
  <%= @player.zip %>
</p>

<p>
  <b>City:</b>
  <%= @player.city %>
</p>

<p>
  <b>Phone:</b>
  <%= @player.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @player.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>

<p>
  <b>Nationality:</b>
  <%= @player.nationality %>
</p>

<p>
  <b>Aktuelle Liga</b>
  <%= @player.current_league_type.name %>
</p>

<p>
  <b>Gew&uuml;nschte Liga</b>
  <%= @player.expected_league_type.name %>
</p>

<p>
  <b>Maximale Entfernung</b>
  <%= @player.max_distance %>
</p>

<p>
  <b>Position:</b>
  <%= @player.position.name %>
</p>

<p>
  <b>Strong foot:</b>
  <%= @player.strong_foot %>
</p>

<p>
  <b>Ablösesumme</b>
  <%= @player.transfer_fee %>
</p>
<p>
  <b>Bestehender Vertrag</b>
  <%= @player.has_contract %>
</p>

<p>
  <b>erwartetes Gehalt</b>
  <%= @player.expected_money %>
</p>

<p>
  <b>Profil veröffentlichen (ohne Namen)</b>
  <%= @player.show_profile %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
