<%= form_for([@team,@offer]) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2><%= @team.club.name %></h2>
  <h3><%= @team.name %></h3>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :min_league %><br />
    <%= f.collection_select(:min_league_type,LeagueType.all, :id, :name)  %>
  </div>
  <div class="field">
    <%= f.label :season %><br />
    <%= f.collection_select(:season_id, Season.all, :id, :name)  %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.grouped_collection_select :position_id, PositionGroup.all,:positions, :name, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :min_age %><br />
    <%= f.text_field :min_age %>
  </div>
  <div class="field">
    <%= f.label :max_age %><br />
    <%= f.text_field :max_age %>
  </div>
  <div class="field">
    <%= f.label :valid_from %><br />
    <%= f.date_select :valid_from %>
  </div>
  <div class="field">
    <%= f.label :valid_until %><br />
    <%= f.date_select :valid_until %>
  </div>
  <div class="actions">
    <%= f.submit(:team_id => @team.id) %>
  </div>
<% end %>
