<% content_for :leftside do %>
    <%= render 'clubs/sidenav' %>
<% end %>
<%= render 'clubs/header' %>
<h3>Meine Angebote</h3>

<table class="table">
  <thead>
    <th>Team</th>
    <th>League</th>
    <th>Season</th>
    <th>Position</th>
    <th>Anfragen</th>
  </thead>
  <tbody>
<% @offers.each do |offer| %>
  <tr>
    <td><%= offer.team.name %></td>
    <td><%= offer.team.league.name %></td>
    <td><%= offer.season.name %></td>
    <td><%= offer.position.name %></td>
    <td> (<%= link_to offer.contacts.count, offer_contacts_path(offer_id:offer) %>)</td>
  </tr>
<% end %>
  </tbody>
</table>

<br />


