<p id="notice"><%= notice %></p>

<p>
  <b>Club:</b>
  <%= @offer.club %>
</p>

<p>
  <b>Team:</b>
  <%= @offer.team.name %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>

<p>
  <b>League:</b>
  <%= @offer.league %>
</p>

<p>
  <b>Min league:</b>
  <%= @offer.min_league_type.name unless @offer.min_league_type.nil? %>
</p>

<p>
  <b>Season:</b>
  <%= @offer.season.name %>
</p>

<p>
  <b>Position:</b>
  <%= @offer.position.name %>
</p>

<p>
  <b>Min age:</b>
  <%= @offer.min_age %>
</p>

<p>
  <b>Max age:</b>
  <%= @offer.max_age %>
</p>

<p>
  <b>Valid from:</b>
  <%= @offer.valid_from %>
</p>

<p>
  <b>Valid until:</b>
  <%= @offer.valid_until %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
