<%= form_for @player_profile do |f| %>
  <% if @player_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_profile.errors.count, "error") %> prohibited this player from being saved:</h2>
      <ul>
      <% @player_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render partial:'player', locals:{f:f} %>
  <div class="actions">
    <%= f.submit 'Absenden', class:'btn btn-primary' %>
  </div>
<% end %>
