<div class="widget">
  <div class="widget-header">
    <h3>Name und Adresse</h3>
  </div>
  <div class="widget-content">
    <div class='row'>
    <div class='span3'>
      <%# f.label:first_name,"Vorname" %>
      <label>Vorname <%= mark_required(@player_profile,:first_name) %>
          <%= f.text_field :first_name, class:'span3', placeholder:'Vorname', tabindex:1 %>
      </label>
      <%# f.label:street,"Straße",class:'control-label' %>
      <label>Straße <%= mark_required(@player_profile,:street) %>
        <%= f.text_field :street, class:'span3', placeholder:'Straße', tabindex:3 %>
      </label>
      <%# f.label:zip,"Postleitzahl",class:'control-label' %>
      <label>Postleitzahl <%= mark_required(@player_profile,:zip) %>
        <%= f.text_field :zip, class:'span3', placeholder:'Postleitzahl', tabindex:5 %>
      </label>
      <%# f.label:phone,"Telefonnummer",class:'control-label' %>
      <label>Telefonnummer <%= mark_required(@player_profile,:phone) %>
        <%= f.text_field :phone, class:'span3', placeholder:'Telefonnummer', tabindex:7 %>
      </label>
      <%# f.label:email,"Email",class:'control-label' %>
      <label>Email <%= mark_required(@player_profile,:email) %>
        <%= f.text_field :email, class:'span3', placeholder:'Email', tabindex:9 %>
      </label>
      <%# f.label:gender,"Geschlecht",class:'control-label' %>
      <label> Geschlecht <%= mark_required(@player_profile,:gender) %>
        <%= f.select :gender, %w{männlich weiblich}, class:'input-large', placeholder:'Geschlecht', tabindex:11 %>
      </label>
      </div>
    <div class='span3'>
      <%# f.label :name,"Name",class:'control-label' %>
      <label>Name <%=  mark_required(@player_profile,:name) %>
        <%= f.text_field :name, class:'span3', placeholder:'Name', tabindex:2 %>
      </label>
      <%# f.label:birthdate,"Geburtsdatum",class:'control-label' %>
      <label>Geburtsdatum <%= mark_required(@player_profile,:birthdate) %>
        <%= f.text_field :birthdate, class:'span3',placeholder:'Geburtsdatum', tabindex:4 %>
      </label>
      <%# f.label:city,"Ort",class:'control-label' %>
      <label>Ort <%= mark_required(@player_profile,:city) %>
        <%= f.text_field :city, class:'span3', placeholder:'Ort', tabindex:6 %>
      </label>
      <%# f.label:mobile,"Handynummer",class:'control-label' %>
      <label>Handynummer <%= mark_required(@player_profile,:mobile) %>
        <%= f.text_field :mobile, class:'span3', placeholder:'Handynummer', tabindex:8 %>
      </label>
      <%# f.label:nationality,"Nationalität",class:'control-label' %>
      <label>Nationalität <%= mark_required(@player_profile,:nationality) %>
        <%= f.text_field :nationality, class:'span3', placeholder:'Nationalität', tabindex:10 %>
      </label>
    </div>
</div>
  </div>
</div>
<div class="widget">
  <div class="widget-header">
    <h3>Dein Spielerprofil</h3>
  </div>
  <div class="widget-content">

  <div class='row'>
  <div class='span3'>
    <div class='control-group'>
      <%= f.label:current_league_type_id,"aktuelle Liga",class:'control-label' %>
      <div class='controls'>
        <%= f.collection_select :current_league_type_id, LeagueType.all,
                                :id, :name, class:'input-large', placeholder:'aktuelle Liga', tabindex:12 %>
      </div>
    </div>
    <div class='control-group'>
      <%= f.label:position_id,"Position",class:'control-label' %>
      <div class='controls'>
        <%= f.grouped_collection_select :position_id, PositionGroup.all,
                                        :positions, :name, :id, :name, class:'input-large',
                                        placeholder:'Position', tabindex:14 %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label:max_distance,"Maximale Entfernung",class:'control-label' %>
      <div class='controls'>
        <%= f.text_field :max_distance, class:'input-large', placeholder:'Maximale Entfernung', tabindex:16 %>
      </div>
    </div>
    <div class='control-group'>
      <%= f.label:expected_money,"erwartete Vergütung",class:'control-label' %>
      <div class='controls'>
        <%= f.text_field :expected_money, class:'input-large', placeholder:'erwartete Vergütung', tabindex:18 %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <%= f.check_box :show_profile, class:'input-large', tabindex:20 %> Dein Spielerprofil veröffentlichen (ohne Namen)
      </div>
    </div>
    </div>
  <div class='span3'>
    <div class='control-group'>
      <%= f.label:expected_league_type_id,"gewünschte Liga",class:'control-label' %>
      <div class='controls'>
        <%= f.collection_select :expected_league_type_id, LeagueType.all, :id, :name,
                                class:'input-large', placeholder:'gewünschte Liga', tabindex:13 %>
      </div>
    </div>
    <div class='control-group'>
      <%= f.label:strong_foot,"starker Fuß",class:'control-label' %>
      <div class='controls'>
        <%= f.select :strong_foot, %w{links rechts beidfuessig}, class:'input-large',
                     placeholder:'starker Fuß', tabindex:15 %>
      </div>
  </div>

  <div class='control-group'>
    <%= f.label:transfer_fee,"Ablösesumme",class:'control-label' %>
    <div class='controls'>
      <%= f.text_field :transfer_fee, class:'input-large',
                       placeholder:'Ablösesumme', tabindex:17 %>
    </div>
  </div>
  <div class='control-group'>
    <div class='controls'>
      <%= f.check_box :has_contract, class:'input-large', tabindex:20 %> laufender Vertrag
    </div>
  </div>
</div>
  </div>
  </div>
    <p></p>


















