<div class="widget">
  <div class="widget-header">
    <h3>Name und Adresse</h3>
  </div>
  <div class="widget-content">
    <div class='row'>
    <div class='span3'>
      <%# f.label:first_name,"Vorname" %>
      <label>Vorname <%= mark_required(@player_profile,:first_name) %>
          <%= f.text_field :first_name, class:'span3', placeholder:'Vorname', tabindex:1 %>
      </label>
      <%# f.label:street,"Straße",class:'control-label' %>
      <label>Straße <%= mark_required(@player_profile,:street) %>
        <%= f.text_field :street, class:'span3', placeholder:'Straße', tabindex:3 %>
      </label>
      <%# f.label:zip,"Postleitzahl",class:'control-label' %>
      <label>Postleitzahl <%= mark_required(@player_profile,:zip) %>
        <%= f.text_field :zip, class:'span3', placeholder:'Postleitzahl', tabindex:5 %>
      </label>
      <%# f.label:phone,"Telefonnummer",class:'control-label' %>
      <label>Telefonnummer <%= mark_required(@player_profile,:phone) %>
        <%= f.text_field :phone, class:'span3', placeholder:'Telefonnummer', tabindex:7 %>
      </label>
      <%# f.label:email,"Email",class:'control-label' %>
      <label>Email <%= mark_required(@player_profile,:email) %>
        <%= f.text_field :email, class:'span3', placeholder:'Email', tabindex:9 %>
      </label>
      <%# f.label:gender,"Geschlecht",class:'control-label' %>
      <label> Geschlecht <%= mark_required(@player_profile,:gender) %>
        <%= f.select :gender, %w{männlich weiblich}, class:'input-large', placeholder:'Geschlecht', tabindex:11 %>
      </label>
      </div>
    <div class='span3'>
      <%# f.label :name,"Name",class:'control-label' %>
      <label>Name <%=  mark_required(@player_profile,:name) %>
        <%= f.text_field :name, class:'span3', placeholder:'Name', tabindex:2 %>
      </label>
      <%# f.label:birthdate,"Geburtsdatum",class:'control-label' %>
      <label>Geburtsdatum <%= mark_required(@player_profile,:birthdate) %>
        <%= f.text_field :birthdate, class:'span3',placeholder:'Geburtsdatum', tabindex:4 %>
      </label>
      <%# f.label:city,"Ort",class:'control-label' %>
      <label>Ort <%= mark_required(@player_profile,:city) %>
        <%= f.text_field :city, class:'span3', placeholder:'Ort', tabindex:6 %>
      </label>
      <%# f.label:mobile,"Handynummer",class:'control-label' %>
      <label>Handynummer <%= mark_required(@player_profile,:mobile) %>
        <%= f.text_field :mobile, class:'span3', placeholder:'Handynummer', tabindex:8 %>
      </label>
      <%# f.label:nationality,"Nationalität",class:'control-label' %>
      <label>Nationalität
        <%= f.text_field :nationality, class:'span3', placeholder:'Nationalität', tabindex:10 %>
      </label>
    </div>
</div>
  </div>
</div>
<div class="widget">
  <div class="widget-header">
    <h3>Dein Spielerprofil</h3>
  </div>
  <div class="widget-content">
    <div class='row'>
      <div class='span3'>
        <%= f.label:position_ids,"Deine Positionen",class:'control-label' %>
        <%= hidden_field_tag "player_profile[position_ids][]", nil%>
        <%  PositionGroup.all.each do |position_group| %>
            <label><%= position_group.name %></label>
          <% position_group.positions.each do |position|  %>
            <label class="checkbox">
              <%= check_box_tag "player_profile[position_ids][]", position.id,
                                @player_profile.position_ids.include?(position.id) %><%= position.name %>
            </label>
          <% end %>
        <% end %>
        <%# f.label:strong_foot,"starker Fuß",class:'control-label' %>
        <label>starker Fuß <%= mark_required(@player_profile,:strong_foot) %>
          <%= f.select :strong_foot, %w{links rechts beidfuessig}, class:'input-large',
                       placeholder:'starker Fuß'%>
        </label>
      </div>
      <div class='span3'>
        <%# f.label:current_league_type_id,"aktuelle Liga",class:'control-label' %>
        <label>Aktuelle Liga <%= mark_required(@player_profile,:current_league_type_id) %>
          <%= f.collection_select :current_league_type_id, LeagueType.all,
                                  :id, :name, class:'span3', placeholder:'aktuelle Liga'%>
        </label>
        <%# f.label:expected_league_type_id,"gewünschte Liga",class:'control-label' %>
        <label> gewünschte Liga <%= mark_required(@player_profile,:expected_league_type_id) %>
          <%= f.collection_select :expected_league_type_id, LeagueType.all, :id, :name,
                                  class:'span3', placeholder:'gewünschte Liga' %>
        </label>
        <%= f.label:league_type_ids,"Deine bisherigen Ligen",class:'control-label' %>
        <%= hidden_field_tag "product[league_type_ids][]", nil%>
        <%  LeagueType.all.each do |league_type| %>
            <label class="checkbox">
              <%= check_box_tag "player_profile[league_type_ids][]", league_type.id,
                                @player_profile.league_type_ids.include?(league_type.id) %><%= league_type.name %>
            </label>
        <% end %>


        <%# f.label:transfer_fee,"Ablösesumme",class:'control-label' %>
        <label>Ablösesumme <%= mark_required(@player_profile,:transfer_fee) %>
          <%= f.text_field :transfer_fee, class:'span3',
                           placeholder:'Ablösesumme' %>
        </label>
        <label>Maximale Entfernung <%= mark_required(@player_profile,:max_distance) %>
          <%= f.text_field :max_distance, class:'span3', placeholder:'Maximale Entfernung' %>
        </label>
        <%# f.label:expected_money,"erwartete Vergütung",class:'control-label' %>
        <label>erwartete Vergütung <%= mark_required(@player_profile,:expected_money) %>
          <%= f.text_field :expected_money, class:'span3', placeholder:'erwartete Vergütung'%>
        </label>
        <%= f.check_box :has_contract, class:'span3' %> laufender Vertrag
      </div>
  </div>
    <%= f.check_box :show_profile, class:'span3'%> Dein Spielerprofil veröffentlichen (ohne Namen)
</div>
    <p></p>


















