<div class="row-fluid">
  <div class="span12">
    <div class="span6">
<div class='control-group'>
  <%= f.label:first_name,"Vorname",class:'control-label' %>
  <div class='controls'>
    <%= f.text_field :first_name, class:'input-large', placeholder:'Vorname' %>
  </div>
</div>

<div class='control-group'>
  <%= f.label:name,"Name",class:'control-label' %>
    <div class='controls'>
        <%= f.text_field :name, class:'input-large', placeholder:'Name' %>
    </div>
  </div>

<div class='control-group'>
  <%= f.label:email,"Email",class:'control-label' %>
  <div class='controls'>
    <%= f.text_field :email, class:'input-large', placeholder:'Email' %>
  </div>
</div>

<div class='control-group'>
  <%= f.label:phone,"Telefonnummer",class:'control-label' %>
  <div class='controls'>
    <%= f.text_field :phone, class:'input-large', placeholder:'Telefonnummer' %>
  </div>
</div>
<div class='control-group'>
  <%= f.label:mobile,"Handynummer",class:'control-label' %>
  <div class='controls'>
    <%= f.text_field :mobile, class:'input-large', placeholder:'Handynummer' %>
  </div>
</div>

<div class='control-group'>
  <%= f.label:gender,"Geschlecht",class:'control-label' %>
  <div class='controls'>
    <%= f.select :gender, %w{männlich weiblich}, class:'input-large', prompt:'Geschlecht' %>
  </div>
</div>

<div class='control-group'>
  <%= f.label:birthdate,"Geburtsdatum",class:'control-label' %>
  <div class='controls'>
    <%= f.text_field :birthdate,class:'input-large', placeholder:'Geburtsdatum' %>
  </div>
</div>

<div class='control-group'>
  <%= f.label:current_league_type_id,"aktuelle Liga",class:'control-label' %>
  <div class='controls'>
    <%= f.collection_select :current_league_type_id, LeagueType.all, :id, :name, class:'input-large', prompt:'aktuelle Liga' %>
  </div>
</div>
<div class='control-group'>
  <%= f.label:position_id,"Position",class:'control-label' %>
    <div class='controls'>
      <%= f.collection_select :position_id, Position.all, :id, :name, class:'input-large', prompt:'Deine Position' %>
    </div>
  </div>
  </div>
    <div class="span6">
      <div class='controls'>
        <%= f.text_area :message, class:'input-large', rows:8, placeholder:'Deine Nachricht an den Verein' %>
      </div>
    </div>
  </div>
</div>


















