<h3>Deine persönlichen Informationen</h3>
<div class="row-fluid">
  <div class="span6">
    <%= @player_profile.first_name %> <%= @player_profile.name %><br>
    <%= @player_profile.street %>    <br>
    <%= @player_profile.zip %> <%= @player_profile.city %> <br><br>
    <b>Geburtsdatum:</b> <%= @player_profile.birthdate %><br>
    <b>Nationalität</b> <%= @player_profile.nationality %>
  </div>
  <div class="span6">

    <b>Telefonnummer:</b> <%= @player_profile.phone %><br>
    <b>Handynummer:</b> <%=  @player_profile.mobile %><br>
    <b>Email:</b> <%= @player_profile.email %>
  </div>
</div>
<p></p>
<h3>Dein Spielerprofil</h3>
<%= render :partial => 'player_profile_without_personal', :locals =>{:player_profile => @player_profile} %>
<b>Dein Profil veröffentlichen (ohne Namen):</b>
<%= @player_profile.show_profile %>

<p>
    <%= link_to 'Spielerpofil anpassen', edit_player_profile_path(@player_profile), class:'btn' %>
</p>

<h3>Deine Anfragen bei Vereinen</h3>
<% unless @player_contacts.empty? %>
    <%= render :partial => 'player_contacts' %>
<% else  %>
    <div class="alert alert-info">
        Aktuell hast Du keine Anfragen gestellt
    </div>
<% end %>
<h3>Anfragen von Vereinen</h3>
<% unless @club_contacts.empty? %>
<%= render :partial => 'club_contacts' %>
<% else %>
    <div class="alert alert-info">
      Aktuell hast Du keine aktuellen Anfragen
    </div>
<% end %>