<!DOCTYPE html>
<html>
<head>
  <title>Teamsite | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Teamsite", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Help",    '#' %></li>
          <% if user_signed_in? %>
              <li><%= link_to "My Offers",offers_path  %></li>
              <li><%= link_to "Logout",destroy_user_session_path, :method => :delete  %></li>
              <li class="navbar-text" ><%= current_user.email %></li>
          <% else %>
              <li><%= link_to "Login", new_user_session_path %> </li>
              <li><%= link_to "Register", new_user_registration_path %> </li>
          <% end %>

        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well">
       Sidebar  fill with content
      </div>
    </div>
    <div class="span8">
        <% unless notice.blank? %>
            <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% unless alert.blank? %>
            <p class="alert alert-error"><%= alert %></p>
        <% end %>
        <%= yield %>
    </div>
  </div>

</div>
</body>
</html>
