<!DOCTYPE html>
<html>
<head>
  <title>Teamsite | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Teamfinder", '#',class:"brand" %>
      <% if user_signed_in? %>
        <div class="btn-group pull-right">
          <%= link_to raw("<i class='icon-user'></i> #{current_user.email} <span class='caret'></span>"),'#',class:"btn dropdown-toggle", 'data-toggle'=>"dropdown" %>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile","#" %></li>
            <li class="divider"></li>
            <li><%= link_to "Logout",destroy_user_session_path, :method => :delete  %></li>
          </ul>
        </div>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Home",   market_index_path %></li>
            <li><%= link_to "Marktplatz",market_index_path  %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Mein Verein <b class="caret"></b>
              </a>

            <ul class="dropdown-menu">
            <% Club.with_role(:club_superuser, current_user).each do |club| %>
                <li><%= link_to  club.name,club_path(club.id) %></li>
            <% end %>
              <% unless Club.with_role(:club_superuser, current_user).empty? %>
              <li class="divider"></li>
              <% end %>
              <li><%= link_to "Verein anlegen",new_club_path  %></li>
            </ul>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Login", new_user_session_path %> </li>
            <li><%= link_to "Register", new_user_registration_path %> </li>
          </ul>
        </div>  
      <% end %>      
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id="leftside">
      <% if content_for?( :leftside ) %>
        <%= yield( :leftside ) %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
    <div class="span6">
        <% if notice %>
            <p class="alert alert-info"><%= :notice %></p>
        <% end %>
        <% if alert %>
            <p class="alert alert-error"><%= :alert %></p>
        <% end %>
        <%= yield %>
    </div>
    <div class="span4">
      <% if content_for?( :rightside ) %>
          <%= yield( :rightside ) %>
      <% else %>
          &nbsp;
      <% end %>
    </div>
  </div>

</div>
</body>
</html>
