<%# encoding:UTF-8 %>
<!DOCTYPE html>
<html>
<head>
  <title>Spielertransfer24 | <%= yield(:title) %></title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<header class="navbar navbar-fixed-top">

  <div class="navbar-inner">


    <div class="container">

      <%= link_to "Spielertransfer24 ", root_path, class:"brand" %>

      <div class="nav-collapse">

          <% if user_signed_in? %>
            <ul class="nav pull-right">
            <li class="dropdown">
              <%= link_to raw("<i class='icon-user'></i> #{current_user.email} <span class='caret'></span>"),'#',class:"dropdown-toggle", 'data-toggle'=>"dropdown" %>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile","#" %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout",destroy_user_session_path, :method => :delete  %></li>
              </ul>
            </li>
            </ul>
          <% else %>
                 <%= render :partial => 'layouts/login_nav' %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="subnavbar">

    <div class="subnavbar-inner">

      <div class="container">

        <ul class="mainnav">

          <li class="active">
            <%= link_to raw('<i class="icon-home"></i><span>Home</span>'), root_path %>
          </li>
          <% if user_signed_in? %>

              <% if current_user.has_role?(:player)  %>
              <li><%= link_to raw('<i class="icon-pushpin"></i><span>Verein suchen</span>'), market_index_path if current_user.has_role?(:player) %> </li>
              <li>
                <%# Show new profile only when user doesn't have one and is no club owner %>
                <%= link_to raw('<i class="icon-bar-chart"></i><span>Spielerprofil anlegen</span>'),new_player_profile_path if can? :create, PlayerProfile %>
                <%= link_to raw('<i class="icon-bar-chart"></i><span>Dein Spielerprofil</span>'),player_profile_path(PlayerProfile.with_role(:player,current_user).first) unless PlayerProfile.with_role(:player,current_user).empty? %>
              </li>

              <% end %>
              <% if current_user.has_role?(:club)  %>
                  <li>
                    <% club =  Club.with_role(:club, current_user).first %>
                    <%= link_to raw('<i class="icon-bar-chart"></i><span>Dein Verein</span>'), club_path(club.id) unless club.nil?  %>
                    <%= link_to raw('<i class="icon-bar-chart"></i><span>Verein anlegen</span>'), new_club_path if can? :create, Club %>
                  </li>
                  <li><%= link_to raw('<i class="icon-bar-chart"></i><span>Spieler suchen</span>'),players_market_index_path if (can? :read, PlayerProfile) %></li>
              <% end %>
          <% else %>
              <li><%= link_to raw("<i class='icon-home'></i><span>Registrieren</span>"), new_user_registration_path %></li>
              <li><%= link_to raw("<i class='icon-pushpin'></i><span>So funktioniert's</span>"), '#' %></li>
              <li><%= link_to raw("<i class='icon-bar-chart'></i><span>Leistungen</span>"), '#' %></li>

          <% end %>

        </ul>

      </div> <!-- /container -->

    </div> <!-- /subnavbar-inner -->

  </div> <!-- /subnavbar -->
</header>
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span8">
          <% if notice %>
            <p class="alert alert-info"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-error"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
        <div class="span4">
          <% if content_for?( :rightside ) %>
            <%= yield( :rightside ) %>
          <% else %>
            &nbsp;
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <p>&copy; Spielertransfer24.de</p>
</footer>
</body>
</html>
